.card {
    width: 480px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.textContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    margin-bottom: 2.5em;
}
.title {
    font-size: 2em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
.paragraph {
    font-weight: 400;
    font-size: 1.4em;
    color: hsl(216, 15%, 48%);
}
.qrCodeimage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
}
@media (max-width: 500px) {
    .card {
        width: 90%;
    }
    .qrCodeimage {
        width: 100%;
    }
    .title {
        font-size: 1.5em;
    }
    .paragraph {
        font-size: 1em;
    }
}
@media (max-width: 325px) {
    .qrCodeimage {
        width: 80%;
    }
    .textContainer {
        width: 100%;
    }
}