@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}